<div class="container mt-2">
  <!-- <div>Some tags before</div> -->
  <h4>
    <ul>
      best Seller
    </ul>
  </h4>

  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let item of toDealsList; let i = index">
      <ng-template carouselSlide [id]="'i'">
        <div class="card" style="width: 16rem">
          <img [src]="item.p_img_url" class="card-img-top p-3 border" alt="" />

          <div class="card-body border">
            <h5 class="card-title">{{ item.llc_n }}</h5>
            <p class="card-text">{{ item.p_desc }}</p>
            <a href="#" class="btn-btn-primary">go somewhere</a>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
  <div>Some tags after</div>
</div>
