<div class="container text-center mt-5" style="height: 20px">
    <div class="row">
        <div class="dropdown col">
            <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-menu-button"></i> All Categories
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>

        <div class="col-7">
            <span class="col" class="id1">Home <i class="bi bi-app"></i>
                <ul class="list-group" style="position: absolute">
                    <li class="list-group-item">Home</li>
                    <li class="list-group-item">Shop</li>
                    <li class="list-group-item">product</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </span>&nbsp;&nbsp;
            <span class="col" class="id1">Shop <i class="bi bi-app"></i>
                <ul class="list-group" style="position: absolute">
                    <li class="list-group-item">Home</li>
                    <li class="list-group-item">Shop</li>
                    <li class="list-group-item">product</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </span>&nbsp;
            <span class="col" class="id1">Product <i class="bi bi-app"></i>
                <ul class="list-group" style="position: absolute">
                    <li class="list-group-item">Home</li>
                    <li class="list-group-item">Shop</li>
                    <li class="list-group-item">product</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </span>&nbsp;
            <span class="col" class="id1">Mega Menu <i class="bi bi-app"></i>
                <ul class="list-group" style="position: absolute">
                    <li class="list-group-item">Home</li>
                    <li class="list-group-item">Shop</li>
                    <li class="list-group-item">product</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </span>&nbsp;
            <span class="col" class="id1">Blog <i class="bi bi-app"></i>
                <ul class="list-group" style="position: absolute">
                    <li class="list-group-item">Home</li>
                    <li class="list-group-item">Shop</li>
                    <li class="list-group-item">product</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </span>&nbsp;
            <span class="col" class="id1">Pages <i class="bi bi-app"></i>
                <ul class="list-group" style="position: absolute">
                    <li class="list-group-item">Home</li>
                    <li class="list-group-item">Shop</li>
                    <li class="list-group-item">product</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">Kajal</li>
                </ul>
            </span>&nbsp;
            <span class="col" class="id1">Seller <i class="bi bi-app"></i>
                <ul class="list-group" style="position: absolute">
                    <li class="list-group-item">Home</li>
                    <li class="list-group-item">Shop</li>
                    <li class="list-group-item">product</li>
                    <li class="list-group-item">computer</li>
                    <li class="list-group-item">Ashish</li>
                </ul>
            </span>&nbsp;
        </div>

        <div class="col-2">
            <button class="btn btn-light" style="color: green" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-lightning-charge" style="color: green"></i> Deal Today
            </button>
        </div>
    </div>
</div>

    <!-- //images -->

    <div id="div1" class="container mt-5" style="display: flex">
        <div is="div2" class="row">
            <span class="col-8">
                <img src="assets/img11/1.jpg" alt="" width="600px" />
            </span>
            <span class="col-4">
                <img src="assets/img11/2.jpg" alt="" width="300px" />
                <img src="assets/img11/3.jpg" alt="" width="300px" style="margin-top: 20px" />
            </span>
        </div>
    </div>
<!-- </div> -->
